
#mainRoad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
 
 
      p{
        max-width: 56rem;
      }

}

#mapSections {
  padding-top: 15rem;
  h2{text-align: center;}
  
}

.section-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-content h2 {

  margin-right: 2rem;
}

.section-image {

  width: 15vw;
  max-width: 15rem;
  height: auto;
}
