#mainRoad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  margin: 3rem 0;
}

.section-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-content h2 {

  margin-right: 2rem;
}

.section-image {

  width: 15vw;
  height: auto;
}
