@use '../../colors' as *;

.banner_test {
  font-size: clamp(2rem, 5vw, 5rem);
  font-weight: 800;
  display: flex;
  color: $color-orange;
  margin-top: 5vw;
}

.words__wrapper {
  position: relative;
  display: flex;
}

.word {
  display: block;
  position: absolute;
  color: $color-white;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(-100%);
  transition: top 0.5s ease, opacity 0.5s ease;
}

.caption {
  position: absolute;
  color: $color-white;
  letter-spacing: 1px;
  top: 110%;
  font-size: clamp(1rem, 2vw, 1.5rem);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  p {

    font-weight: 400;
    font-style: italic;
  }

  a {
    font-weight: 500;
  }
}