@use '../../../colors' as *;

.game-nav__wrapper {
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        width: 100vw;
        background-color: $color-light-black;
        position: absolute;
        left: -10vw;
        display: flex;
        align-items: center;
        justify-content: space-around;

        li {
            button {
                border: none;
                background-color: transparent;
                cursor: pointer;

                img {
                    max-width: 130px;
                    width: 100%;
                }
            }
        }
    }

}