@use '../../../colors' as *;
.game-nav__wrapper{
    height: 100px;
    position: relative;
    ul{
        background-color: $color-light-black;
        position: absolute;
        left: -10vw;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        li{
            button{
                border: none;
                background-color: transparent;
                cursor: pointer;
                img{
                    max-width: 130px;
                    width: 100%;
                }
            }
        }
    }
    
}