@use '../../../colors' as *;

.cards {
  margin-bottom: 5%;
}

.guild-card__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;

  .card__wrapper {
    position: relative;
    transform-style: preserve-3d;
    max-width: 350px;
    width: 100%;
    background-color: $color-light-black;
    aspect-ratio: 100/139;
    border-radius: .75em;
    border: 3px solid $color-orange;
    transform: rotateY(180deg);

    .card-glow {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      border-radius: inherit;
      mix-blend-mode: hard-light;
      background: radial-gradient(circle at 50% 0%, #ffffff15, transparent);
      pointer-events: none;
    }

    .card__header,
    .card__body,
    .card__footer {
      display: flex;
    }

    .card__header {
      font-size: larger;
      font-weight: bolder;
      align-items: center;
      justify-content: space-between;
      padding: .2rem 1rem;
      margin: .5em;
      border-radius: inherit;
      flex: 1;
    }

    .card__body {
      justify-content: center;
      flex: 5;

      .image__wrapper {
        img {
          aspect-ratio: 4/2;
          height: 100%;
          width: 100%;
          object-fit: scale-down;
        }
      }
    }

    .card__footer {
      font-size: (.8rem, 2vw, 1.2rem);
      flex-direction: column;
      flex: 4;
      border-radius: inherit;
      padding: 0 1rem;
      padding-bottom: .5rem;
      gap: .5em;
      max-height: 180px;
      height: 100%;

      ul {
        border-radius: inherit;
        display: flex;
        justify-content: space-between;
        background-color: $color-very-light-black;
        gap: .5em;

        button {
          background-color: transparent;
          border: none;
          color: inherit;
          font-family: inherit;
          cursor: pointer;
          padding: .5rem .5em;
          width: 100%;
          font-weight: 700;
          letter-spacing: 1px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .active {
          background-color: $color-orange;
          border-radius: inherit;
        }
      }

      .content {
        height: 100%;
        border-radius: inherit;
        padding: .2rem 1rem;
        background-color: $color-very-light-black;
        overflow-y: scroll;
      }

      .content::-webkit-scrollbar {
        width: 5px !important;
      }

      .content::-webkit-scrollbar-track,
      .content::-scr {
        background: transparent !important
      }

      .content::-webkit-scrollbar-thumb {
        background-color: $color-black !important;
        border-radius: 500px !important
      }
    }
  }
}

.front {
  display: flex;
  flex-direction: column;
  transform: rotateY(0deg);
}


.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: inherit;
}

.back {
  background-color: inherit;
  transform: rotateY(180deg);

  img {
    width: 100%;
  }
}

.active {
  opacity: 1;
  transition: opacity 1.6s ease;
}

.inactive {
  opacity: 0;
  transition: .2s ease;
}