@use '../../../../colors' as *;

.social-media-guild__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .3rem;
  position: absolute;
  right: -5%;
  top: 3%;
  gap: .5em;

  a {
    filter: drop-shadow(-2px 3px 4px $color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    width: 44px;
    aspect-ratio: 1/1;
    background-color: $color-orange ;
    scale: .9;
    transition: .2s ease;
  }

  a:hover {
    scale: 1;
  }
}