@use '../../colors' as *;

.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  width: 100%;
  min-height: 75px;
  padding: 1rem;
  background-color: $color-black;
  color: $color-white
}

// .nav-cta-button{
//   width: 50px;
//   display:flex;
// }
// .cta-button__wrapper{
//   width:100px;
//   display: flex;
// }

.navbar__links{
  display: flex;
}

.navbar__link{
  padding: 0 0.3rem;
  color: inherit;
}

.navbar__burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar__links{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: fixed;
left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    // visibility: hidden;
    padding: 2rem;
    background-color: $color-black;
  }

  .show-nav .navbar__link{
    right:0;
    width: 100vw;
    visibility: visible;
  }

  .navbar__link{
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }

  .navbar__burger{
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  .navbar__burger:hover{
    cursor: pointer;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after{
    display: block;
    width: 40px;
    height: 3px;
    position: fixed;
    border-radius: 3px;
    background: $color-white;
  }
  .burger-bar::before,
  .burger-bar::after{
    content: "";
    position: absolute;
    left: 0;
  }

  .burger-bar::before{
    transform: translateY(-12px);
  }

  .burger-bar::after{
    transform: translateY(12px);
  }
}