#mainDAO {
  color: #FF7E03;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  text-align: center;
  padding-bottom: 1rem;
  gap: 1em;
}

#mainDAO h1 {
  margin-bottom: 5rem;
  
  h3,h2 {
  padding-left: 1rem;
  font-size: clamp(1.5rem, 3vw, 3rem);
  }
  p{
  letter-spacing: 0.1rem;
  font-size: clamp(0.8rem, 1vw, 1rem);
  padding: 2rem;
  }
}


#mainDAO > #containerDAO {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: start;
  gap: 1rem;
  max-width: fit-content;
  flex-basis: 500px;
  flex: 1;
  margin: 0 auto; 
}



#mainDAO > #containerDAO p {
  max-width: 100rem;
.content {
  flex: 999;
  flex-basis: 500px;
}
}
#mainDAO #sidebar {
  flex: 1;
  flex-basis: 400px;
  text-align: center; 
   .img{
    width: 450px;
   }
}

#mainDAO #sidebar .image-container {
  margin-top: 3rem;
  max-width: 100%; 
  display: flex;
  justify-content: center;
}

#mainDAO #sidebar  {
  margin-left: 1rem;
  height: auto;
  padding-right: 3rem;
  
  #img_sidebar {
    justify-content: center;
    width: 110%;
    border-radius: 5%;

  }

}
