#mainDAO {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  padding-bottom: 1rem;

.containerDAO {
  display: flex;
  justify-content: center;
  max-width: 125rem;
  margin: 0 auto;
  padding: 1rem;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }

  .content {
  flex: 2;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
}

.sidebar {
  padding: 1rem;
  max-height: 35rem;
  max-width: 35rem;

  img {
    max-width: 100%;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    margin-top: 1rem;
  }
}


}

.containerMap {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  max-width: 125rem;
  margin: 0 auto;
  padding: 1rem;
  
  .content2 {
    flex: 1;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
  }
}


}