@use '../../colors' as *;

#mainDAO {
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  text-align: center;
  padding-bottom: 1rem;
  gap: 1em;

  h2 {
    padding-left: 2rem;
    color: $color-orange;
    font-size: clamp(1.5rem, 3vw, 3rem);
  }

  h1 {
    color: $color-orange;
    margin-bottom: 5rem;

    h3 {
      color: $color-orange;
      padding-left: 3rem;
    }
  }

  p {
    letter-spacing: 0.1rem;
    font-size: clamp(0.8rem, 1vw, 1rem);
  }
}

#mainDAO > #containerDAO {
  display: flex;
  align-items: flex-start; 
  text-align: start;
  flex-wrap:wrap;
  gap: 1rem;
  margin: 0 auto;
   .content{
    flex-grow: 3;
    flex-basis: 500px;
   }
}

#mainDAO #sidebar {
  flex-grow:1;
  flex-basis: 400px;
  text-align: center;
  margin-left: auto;
  h2{
    margin-bottom: 4rem;
  }
}

#mainDAO #sidebar .image-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

#mainDAO #sidebar #img_sidebar {
  border-radius: 5%;
  max-width: 100%;
  height: auto;
}
