#mainDAO {
  color: #FF7E03;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  text-align: center;
  padding-bottom: 1rem;
  float: none;
  gap: 1em;

h1{
  margin-bottom: 5rem;
}
 h3 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

 p {
  letter-spacing: 0.1rem;
  font-size: clamp(0.8rem, 1vw, 1rem);
  margin: 1rem;
}
}
#mainDAO > #containerDAO {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: start;
  gap: 1rem;
  // border: 2px solid;
  max-width: fit-content;
  flex-basis: 500px;
  flex: 1;
  margin: 0 auto; /* Center the container */
}

#mainDAO > #containerDAO p {
  max-width: 75rem;
}

#mainDAO .content {
  flex: 999;
  flex-basis: 500px;
  
  
}

#mainDAO #sidebar { 
  #img_sidebar {
    margin-top: 3rem;
  }
  flex: 1;
  flex-basis: 400px;
   
}



#containerMap{
  display: flex;
  flex-direction: column;
  }