@use '../../colors' as *;

.Oracle-container {
  position:relative;
  width: 100%;
  left: 0;
  bottom: 80px;
  display: flex;
  align-items: center;
}

.Oracle-container .text {
  margin-top: 35px;
  color: $color-orange;
  white-space: nowrap;
  letter-spacing: 0.2rem;
  font-size: 70px;
  font-weight: 700;
  animation: Scroll 25s linear infinite;
  text-transform: uppercase;
}

@keyframes Scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}


@media screen and (max-width: 768px) {
  .Oracle-container .text {
    font-size: 50px;
  }
}


@media screen and (max-width: 576px) {
  .Oracle-container {
    bottom: 120px;
  }

  .Oracle-container .text {
    font-size: 40px;
  }
}
