@use '../../colors' as *;

.vertical-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;

  h2 {
    margin-bottom: 3rem;
  }
}

.timeline {
  position: relative;
}

.line::after {
  content: "";
  position: absolute;
  left: 50%;
  justify-content: space-around;
  transform: translateX(-50%);
  width: 8px;
  top: 0;
  height: 0;
  border-radius: 5px;
  background-color: $color_orange;
  transition: transform 0.3s ease, height 10s linear;
  animation: moveline 6s linear forwards;
}

.event {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

  .event-content {
    width: 50%;
    max-width: 50%;
    border-radius: 5%;
  
    
    #DAOTimelineH2 {
      padding-left: 1rem;
    }
  
    #timeline_image {
      margin-top: 2rem;
      width: 80%; 
      height: auto; 
      justify-content: center;
    }
    
  }

  &.left-event {
    order: -1;
    justify-content: flex-start;
    padding-left: 1rem;
    .event-content {
      margin-right: 5rem;
      flex-direction: column;
    }
    
  }

  &.right-event {
    order: 1;
    justify-content: flex-end;
    padding-right: 1rem;
    .event-content {
      margin-left: 5rem;
      flex-direction: column;
    }
    
  }

  
 

  #time_card {
    text-align: start;
  }
}

@media (max-width: 768px) {
  .line::after {
    content: "";
    position: absolute;
    left: 50%;
    justify-content: space-around;
    transform: translateX(-50%);
    width: 8px;
    top: 0;
    height: 0;
    border-radius: 5px;
    background-color: $color_orange;
    transition: transform 0.3s ease, height 10s linear;
    animation: moveline 6s linear forwards;
  }
 
  .event {
    display: flex;
    text-align: start;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: flex-start;
    margin-right: 2rem;
    
 
  
 
    #time_card {
      background-color: rgb(10, 17, 18);
      padding-bottom: 1rem;
      width: 150%;
      max-width: 200%;
      justify-content: start;
      text-align: start;
    }
    #timeline_image {
      display: none;
    }

}
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

// @keyframes movedown {
//   0% {
//     opacity: 1;
//     transform: translateY(-30px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0px);
//   }
// }
