
#main__home{
  .home-section__wrapper:nth-of-type(odd){
    flex-direction: row-reverse;
  }
}
  .auto-grid {
    --min-column-size: 25rem;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--min-column-size), 100%), 1fr)
      );
    }