$color-white : #efefef;
$color-gray : #4d4b4b;
$color-orange: #0690DD;
$color-black: #0E1014;
$color-light-black: #1b1d20;
$color-very-light-black: #3a3e44;
$color-very-very-light-black: #5a5f64;
$color-very-very-very-light-black: rgba(0, 0, 0, 0.7);