@use 'colors.scss' as *;

html{
  scroll-behavior: smooth;
}
body {
  background-color: $color-black;
  color: $color-white;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 80%, 120%;
  background-position-y: 10dvh, 0;
  backdrop-filter: brightness(.6);
}
