

.about-section__wrapper {
  display: flex;
  justify-content: space-between;

  .content__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .text__wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 40%;
      gap: 2rem;

      h3 {
        font-size: clamp(1.5rem, 3vw, 3rem);
      }

      p {
        letter-spacing: .1rem;
        font-size: clamp(.8rem, 1vw, 1rem);

      }
    }
  }

  .image--parallax__wrapper {
    position: relative;
    flex: 1;

    img:nth-child(1) {
      width: 100%;
      border-radius: .5em;
    }

    img:nth-child(2) {
      width: 200px;
      position: absolute;
      bottom: 0;
      right: 200px;
    }
  }
}

