@import "../../../colors";

.container__social-media {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 32px 68px;
  gap: 1rem;
  z-index: 1;
  align-items: flex-end; 
  transition: transform 0.3s ease-in-out; 

}


.container__social-media a {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.container__social-media a:hover {
  color: $color-orange;
  transform: scale(1.2);
}

.container__social-media a[title]::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px;
  background-color: $color-orange;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  margin-top: 6px;
  margin-bottom: 10px;
}

.container__social-media a:hover::after {
  opacity: 1;
}
