nav {
  padding: 32px 68px;
  z-index: 10;
  
  .nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 60px;
      width: 100%;
    }

    ul {
      display: flex;
      gap: 2rem;
    }
  }
}