.banner__wrapper {
  width: 100%;
  position: sticky;
  margin-top: -125px;
  z-index: -10;
  display: fl;

  img {
    width: 100%;
  }

  span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 125px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  }
}